<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
<title>New2Town</title>
</head>
<body>
    <header class="bg-green-200 h-28 w-screen relative">
        <nav class="left-0 mb-3">
            <button class="bg-blue-400 hover:bg-blue-600 hover:shadow-inner rounded-b-lg w-24 h-12 border-black border-2 mx-3">Home</button>
            <button class="bg-blue-400 hover:bg-blue-600 hover:shadow-inner rounded-b-lg w-24 h-12 border-black border-2 mx-3">Login</button>
            <button class="bg-blue-400 hover:bg-blue-600 hover:shadow-inner rounded-b-lg w-24 h-12 border-black border-2 mx-3">Profile</button>
            <button class="bg-blue-400 hover:bg-blue-600 hover:shadow-inner rounded-b-lg w-24 h-12 border-black border-2 mx-3">Friends List</button>

        </nav>

        <h1 class="font-bold text-blue-50 text-4xl text-center">New2Town</h1>
   

    </header>
    <main>
        {{{body}}}
    </main>

    <footer class="bg-green-200 h-8 w-screen absolute bottom-0">
        <h1 class="font-bold text-blue-50 text-xl text-center">New2Town</h1>
    </footer>
    
</body>
</html>