<div class="w-full h-full flex justify-center">
<h2 class="text-3xl p-8 text-yellow-300">Friends List:</h2>
{{#each friendAll.user_friends as |friend|}}

          <a href="/profile/${gottenUsers[i].id}"> <div class="card border-black border-2 rounded-lg inline-block w-52 h-64 mx-5">
       <div class="container">
           <h4><b>{{friend.username}}</b></h4>
           <p>{{friend.email}}</p>
      </div> </div> </a>
       
{{/each}}

</div>

