<div class="w-full h-full flex justify-center">
<<<<<<< HEAD
<h2 class="text-3xl p-8 text-yellow-300">{{friendAll.username}}'s Friend List:</h2>
=======

<h2 class="text-3xl p-8 text-yellow-300">Friends List:</h2>
>>>>>>> a248f32e62c1db3274308ae222a89a76d3dbc99b
{{#each friendAll.user_friends as |friend|}}


          <a href="/profile/${gottenUsers[i].id}"> <div class="card border-black border-2 rounded-lg inline-block w-52 h-64 mx-5">
       <div class="container">
           <h4><b>{{friend.username}}</b></h4>
           <p>{{friend.email}}</p>
      </div> </div> </a>
       
{{/each}}

</div>

