<div id="homepage-contain" class="w-full h-full flex justify-center">
<form class="mt-16 flex items-center flex-col">
<label for="activity-search-bar" class="text-3xl p-8 text-yellow-300">What would you like to do?</label>
<br>
<select id="activity-search-bar" name="activity-search" class="mt-4">
  <option value="1">Stuff Your Face</option>
  <option value="2">Get Schwasted</option>
  <option value="3">Walk Around Trees</option>
  <option value="4">Get Competitive</option>
</select>
<br>
 <button id="search-btn" class="hover:border-blue-200 hover:bg-gray-50 rounded w-60 h-10 border-black border-2">Find Friends!</button>
</form>
</div>
<section id="results-area" class="mt-16 flex justify-center flex-wrap">

    {{!-- {{> user-cards}} --}}

</section>
<script src="js/home.js"></script>