<div id="homepage-contain" class="w-full h-full flex justify-center">
<form class="mt-16 flex items-start flex-col">
<label for="activity-search-bar">What would you like to do?</label>
<br>
<select id="activity-search-bar" name="activity-search" class="mt-4">
  <option value="1">Stuff Your Face</option>
  <option value="2">Get Schwasted</option>
  <option value="3">Walk Around Trees</option>
  <option value="4">Get Competitive</option>
</select>
<br>
 <button id="search-btn" class="mt-4 bg-blue-400 hover:bg-blue-600 hover:shadow-inner rounded-lg w-40 h-8 border-black border-2">Find Friends!</button>
</form>
</div>
<section id="results-area" class="mt-16 flex justify-center flex-wrap">

    {{!-- {{> user-cards}} --}}

</section>
<script src="js/home.js"></script>