<div id="homepage-contain" class="w-full h-full flex justify-center">
<form class="mt-16 flex items-start flex-col">
<label for="activity-search">What would you like to do?</label>
<br>
<select id="activity-search" name="activity-search" class="mt-4">
  <option value="eat">Stuff Your Face</option>
  <option value="drink">Get Schwasted</option>
  <option value="hike">Walk Around Trees</option>
  <option value="games">Get Competitive</option>
</select>
<br>
 <button id="search-btn" class="mt-4 bg-blue-400 hover:bg-blue-600 hover:shadow-inner rounded-lg w-40 h-8 border-black border-2">Find Friends!</button>
</form>
</div>
<section id="results-area" class="mt-16 flex justify-center flex-wrap">
    <div class="card border-black border-2 rounded-lg inline-block w-52 h-64 mx-5">
    {{!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> --}}
    <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Interests: film, cooking, politics</p>
    </div>
    </div>
        <div class="card border-black border-2 rounded-lg inline-block w-52 h-64 mx-5">
    {{!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> --}}
    <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Interests: film, cooking, politics</p>
    </div>
    </div>
</section>
<script src="js/home.js"></script>