<div>
        <div class="container mx-auto">
            <h2 class="text-3xl p-8">Login</h2>

            <form>
                <div class="p-3">
                    <label for="username-login">Username:</label>
                    <input type="text" id="username-login" class="border" placeholder="name"/>
                </div>
                <div class="p-3">
                    <label for="password-login">Password:</label>
                    <input type="password" class="form-input border" id="password-login"/>
                </div>
                <div class="p-6">
                    <button type="submit" class="hover:shadow-inner rounded-full w-20 h-10 border-black border-2">Log In</button> 
                </div>
            </form>
        </div>
        <div class="container mx-auto">
            <h2 class="text-3xl p-8">Sign Up</h2>

            <form class="form signup-form">
                <div class="form-group p-3">
                    <label for="username-signup">Username:</label>
                    <input class="form-input border" type="text" id="email-signup" />
                </div>
                <div class="form-group p-3">
                    <label for="email-signup">Email:</label>
                    <input class="form-input border" type="text" id="email-signup" placeholder="jane@example.com"/>
                </div>
                <div class="form-group p-3">
                    <label for="password-signup">password:</label>
                    <input class="form-input border" type="password" id="password-signup" />
                </div>
                <div class="form-group p-3">
                    <label for="interest-signup">Interests:</label>
                    <input class="form-input border" type="text" id="interest-signup" />
                </div>
                <div class="p-3">
                    <label for="activities-signup">Activities:</label><br>
                    <input type="checkbox" class="rounded"  name="restaurant" value="Stuff Your Face">
                    <label for="restaurant"> Stuff Your Face</label><br>
                    <input type="checkbox" name="drinking" value="Get schwasted">
                    <label for="drinking"> Get schwasted</label><br>
                    <input type="checkbox"  name="hiking" value="Walk Around Trees">
                    <label for="hiking"> Walk around trees</label><br>
                    <input type="checkbox"  name="games" value="Get Competitive">
                    <label for="Get Competitive"> Get competitive</label><br> 
                </div>
                <div class="p-6">
                    <button type="submit" class="hover:shadow-inner rounded-full w-20 h-10 border-black border-2">Sign Up</button> 
                </div>
            </form>
        </div>
    </div>

<script src="./js/login.js"></script> 