<div class="flex md:flex-nowrap lg: flex-wrap">
        <div class="container mx-auto">
            <h2 class="text-3xl p-8">Login</h2>

            <form class="flex login-form">
                <div class="p-3">
                    <label class="pr-4">Username:</label>
                    <input type="text" id="username-login" class="form-input border pr-4" placeholder="name"/>
                </div>
                <div class="p-3">
                    <label class="pr-5">Password:</label>
                    <input type="password" class="form-input border pr-4" id="password-login"/>
                </div>
            </form>
            <div class="p-6">
                <button type="submit" class="hover:shadow-inner rounded-full w-20 h-10 border-black border-2">Log In</button> 
            </div>
        </div>
        <div class="container mx-auto">
            <h2 class="text-3xl p-8">Sign Up</h2>

            <form class="form signup-form">
                <div class="form-group p-3">
                    <label  class="pr-5">Username:</label>
                    <input class="form-input border pr-4" type="text" id="username-signup" />
                </div>
                <div class="form-group p-3">
                    <label class="pr-12">Email:</label>
                    <input class="form-input border pr-4" type="text" id="email-signup" placeholder="jane@example.com"/>
                </div>
                <div class="form-group p-3">
                    <label class="pr-5">password:</label>
                    <input class="form-input border pr-4" type="password" id="password-signup" />
                </div>
                <div class="form-group p-3">
                    <label class="pr-6">Interests:</label>
                    <textarea class="form-input border pr-4" type="text" id="interest-signup"></textarea>
                </div>
                <div class="p-3">
                    <label for="activities-signup">Activities:</label><br>
                    <input type="checkbox" class="rounded"  name="restaurant" value="Stuff Your Face">
                    <label for="restaurant"> Stuff Your Face</label><br>
                    <input type="checkbox" name="drinking" value="Get schwasted">
                    <label for="drinking"> Get schwasted</label><br>
                    <input type="checkbox"  name="hiking" value="Walk Around Trees">
                    <label for="hiking"> Walk around trees</label><br>
                    <input type="checkbox"  name="games" value="Get Competitive">
                    <label for="Get Competitive"> Get competitive</label><br>
                </div>
                <div class="p-6">
                    <button type="submit" class="hover:shadow-inner rounded-full w-20 h-10 border-black border-2">Sign Up</button> 
                </div>
            </form>
        </div>
    </div>

<script src="./js/login.js"></script> 