<div>
    <div>
        <h2>Login</h2>

        <form>
            <div>
                <label for="email-login">Email:</label>
                <input type="text"/>
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password"/>
            </div>
            <div>
                <button type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>