<div>
    <div>
        <h2>Login</h2>

        <form>
            <div>
                <label for="email-login">Email:</label>
                <input type="text"/>
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password"/>
            </div>
            <div>
                <button type="submit">Log In</button> 
            </div>
        </form>
    </div>
    <div>
        <h2>Sign Up</h2>

        <form class="form signup-form">
            <div class="form-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div>
                <label for="activities">Activities:</label>
                <input type="checkbox" name="restaurant" value="Stuff Your Face">
                <label for="restaurant"> Stuff Your Face</label><br>
                <input type="checkbox" name="drinking" value="Get schwasted">
                <label for="drinking"> Get schwasted</label><br>
                <input type="checkbox"  name="hiking" value="Walk Around Trees">
                <label for="hiking"> Walk around trees</label><br>
                <input type="checkbox"  name="games" value="Get Competitive">
                <label for="Get Competitive"> Get competitive</label><br>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script> 