<div>
    <div>
        {{!-- going to change username to name, after we decide --}}
        <h2>my profile</h2>
        <h1>my profile</h1>

        <form class="edit profile">
          <img src="https://via.placeholder.com/200" id="img-preview" />
          <label class="file-upload-container" for="file-upload">
             <input id="file-upload" type="file" style="display:none;">
              Select an Image
          </label>
            <div>
                <label for="name">Full Name</label>
                <label for="name">Full Name: {{username}}</label>
                <input type="text"/>
            </div>
            <div>
                <label for="email-login">Email:</label>
                <label for="email-login">Email: {{email}}</label>
                <input type="text"/>
            </div>
           
            {{!-- will prabably delete passwod, maybe we could put it in the settings --}} 
            {{!-- for now location and status are intentionally blank --}}
            <div>
                <label for="password-login">Password:</label>
                <input type="password"/>
            </div>
            <div>
                <label for="location">Location:</label>
                 <input class="form-input" type="text" id="location" name="location"/>
            </div>
            <div>
                <label for="interests">Interests:</label>
                 <input class="form-input" type="text" id="interests" name="interests"/>
            </div>
            <div>
                <label for="activities">Activities:</label>
                 <input class="form-input" type="text" id="activities" name="activities"/>
            </div>
            <div>
                <label for="status">Status:</label>
                <input type="status"/>
            </div>
            <div>
                <button type="submit">Save Profile Changes</button> 
            </div>
        </form>
    </div>

  
</div>

<script src="./js/user.js"></script>



