<div>
    <div>
        <h1>my Profile</h1>

        <form class="edit profile">
            <div>
                <label for="name">Full Name: {{username}}</label>
                <input type="text"/>
            </div>
            <div>
                <label for="email-login">Email: {{email}}</label>
                <input type="text"/>
            </div>
            {{!-- will prabably delete passwod, maybe we could put it in the settings --}}
            <div>
                <label for="password-login">Password:</label>
                <input type="password"/>
            </div>
            <div>
                <label for="location">Location:</label>
                <input type="location"/>
            </div>
            <div>
                <label for="interests">Interests:</label>
                <input type="interests"/>
            </div>
            <div>
                <label for="activities">Activities:</label>
                <input type="activities"/>
            </div>
            <div>
                <label for="status">Status:</label>
                <input type="status"/>
            </div>
            <div>
                <button type="submit">Save Profile Changes</button> 
            </div>
        </form>
    </div>
    
</div>
<script src="./js/user.js"></script>